body {
    margin: 0 auto;
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-attachment: fixed; bg blijft staan
en content scrollt er overheen */
}

header {
    width: 100%;
    background-color: #ffffff;
}

ul {
    margin: 0;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*justify-content: space-around; elk
    list item krijgt een padding om heen ,
    waardoor het alle ruimte benut */
}

ul li {
    list-style-type: none;
    /*geen styling */
}

li a {
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-size: 2vh;
    color: #000000;
    text-decoration: none;
    /*vh , om bij het in en uitzoomen grote te behouden  */

}

li img {
    width: 300px;
    height: 300px;
    position: relative;
    top: 100px;
}

.welkom {
    /*class welkom , h1 in het midden plaatsen*/
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    width: 30%;
    height: 15%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-size: 50pt;
    color: #ffffff;
    text-shadow: 4px 4px black;
    /*text-shadow om text aansprekend te maken*/
}

.about-me {
    height: 30%;
    background-color: #ffffff;
    padding-left: 7%;
}

.abouth2 {
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 25pt;
}

.doelen {
    margin-top: -10rem;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 7%;
    background-color: #ffffff;
}

article {

    margin-left: 20%;
    margin-right: 3%;
    font-size: 2vh;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    line-height: 3.5vh;
}

.work {
    height: 160vh;
    background-color: beige;
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 5%;
}

.werk {
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 25pt;

}

table {
    width: 75%;
    margin-left: 19vw;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    border-collapse: collapse;
}

.tableh3 {
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-size: 2vh;
    margin-left: 19vw;
}

th {
    color: #ffffff;
    border: 2px solid #dddddd;
    background-color: #404040;
    text-align: left;
    padding: 1%;
}

td {
    color: #000000;
    border: 2px solid #dddddd;
    background-color: #fff;
    padding: 8px;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.omschrijving {
    padding: 1%;
    text-align: center;
    background-color: #ffffff;
    border-color: #000000;
}

.marathon {
    padding-left: 7%;
    float: left;
    width: 25%;
}

.opdrachten {
    padding-left: 7%;
    float: left;
    width: 25%;
}

.contact {
    height: 40vmax;
    padding-left: 7%;
    padding-top: 5%;
}

.contacth2 {
    color: white;
    font-family: 'Arial', Verdana, Geneva, sans-serif;
    font-weight: normal;
    font-size: 25pt;

}

#form {
    margin: 0 auto;
    padding: 1.5%;
    width: 40%;
    border: 2px solid #bbbbbb;
    border-radius: 2%;
    background-color: #f8f8f8;
}

#form label, #form input, #form select {
    display: block;
    /*elementen komen onder elkaar*/

}

#form input, #form select, #form textarea {
    width: 350px;
    margin-bottom: 20px;
    padding: 6px;

}

footer {
    padding-top: 2%;
    height: 2.5%;
    text-align: center;
    font-size: 14pt;
    background-color: #ffffff;
}

.none {
    display: none;
}